
            body {
                font-family: Arial, sans-serif;
                text-align: left;
                background-color: gray;
            }

            .LIST {
                max-width: 500px;
                margin: 0 auto;
                padding: 20px;
                background-color: grey;
                border-radius: 5px;
                box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
            }

            h1 {
                margin-bottom: 20px;
            }

            form {
                margin-bottom: 20px;
            }

            input[type="text"] {
                padding: 10px;
                border: 1px solid black;
                border-radius: 3px;
                width: 40%;
                line-height: 10;
            }

            button {
                padding: 10px 20px;
                background-color: green;
                color: yellow;
                border: 1px solid black;
                border-radius: 2px;
                cursor: pointer;
            }

            ul {
                list-style: none;
                padding: 0;
            }

            li {
                margin-bottom: 10px;
                border: 1px solid green;
                padding: 10px;
                border-radius: 3px;
            }
